@model QR_Project_6.Models.Respuesta_Cliente

<div class="well">
    <h3 class="text-muted text-center">
        @Html.DisplayFor(model => model.Reclamacion.Cliente.Nombre) @Html.DisplayFor(model => model.Reclamacion.Cliente.Apellido)
    </h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Destino.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
