@model QR_Project_6.Models.Reclamacion
@using QR_Project_6.Models.Estados

@{
    ViewBag.Title = "Details";
    Estado_QR_Helper estado_QR_Helper = new Estado_QR_Helper();
}

<h2>Detalles</h2>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QRID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QRID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Identificacion)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre) @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Identificacion)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre) @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_QR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_QR.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Reclamacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Reclamacion.Descripcion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Empleado"))
    {

        @Html.ActionLink("Responder", "CreateFromReclamacion", "Respuesta_Empleado", new { id = Model.QRID }, new { @class = "btn btn-primary" })
    }
    else if (User.IsInRole("Cliente") && estado_QR_Helper.GetEstadoByDescripcion(Estado_QR_Helper.PENDIENTE_VALORACION).EstadoID == Model.Estado_QR_EstadoID)
    {
        @Html.ActionLink("Responder", "CreateFromReclamacion", "Respuesta_Cliente", new { id = Model.QRID }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Editar", "Edit", new { id = Model.QRID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
</p>
