@model QR_Project_6.Models.Transaccion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Transaccion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TransaccionID }, new { @class="btn btn-primary"})
    @Html.ActionLink("Volver", "Index",null,new { @class= "btn btn-default" })
</p>
