@model IEnumerable<QR_Project_6.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>@ModelMetadataProviders.Current.GetMetadataForType(null, typeof(QR_Project_6.Models.Cliente)).GetDisplayName()</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create", new { }, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table">
    <thead>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Estado_Cliente)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Cliente.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <div class="btn-group-vertical">
                @Html.ActionLink("Editar", "Edit", new { id = item.PersonaID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Detalles", "Details", new { id = item.PersonaID }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.PersonaID }, new { @class = "btn btn-danger btn-xs" })
            </div>
        </td>
    </tr>
}
</tbody>
</table>
