
@model IEnumerable<QR_Project_6.Models.ReclamacionReportViewModel>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Sucursal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>

            </tr>
            }
        </tbody>
    </table>