@model IEnumerable<QR_Project_6.Models.Respuesta_Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>@ModelMetadataProviders.Current.GetMetadataForType(null, typeof(QR_Project_6.Models.Respuesta_Cliente)).GetDisplayName()</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create", new { }, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Destino)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Origen)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Queja)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reclamacion)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valoracion)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
            <input class="form-control search-input input-sm" onkeyup="myFilter(this)" type="text" placeholder="Filter">
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Destino.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Origen.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Queja.QRID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reclamacion.QRID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valoracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            <div class="btn-group-vertical">
                @Html.ActionLink("Editar", "Edit", new { id = item.RespuestaID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Detalles", "Details", new { id = item.RespuestaID }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.RespuestaID }, new { @class = "btn btn-danger btn-xs" })
            </div>
        </td>
    </tr>
}
</tbody>
</table>
