@model QR_Project_6.Models.Respuesta_Empleado

<div class="well">
    <h3 class="text-muted text-center">
        @Html.DisplayFor(model => model.Empleado_Destino.Nombre) @Html.DisplayFor(model => model.Empleado_Destino.Apellido)
    </h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado_Origen.Identificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento_Origen.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal_Origen.Nombre)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Empleado_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado_Destino.Identificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento_Destino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal_Destino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Destino.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>


    </dl>
</div>
